* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header {
    background-image: url(gambar/background_beranda.JPG);
    height: 73vh;
    background-size: cover;
    background-position: center;
    margin-top: 120px;
}

ul {
    float: bottom;
    margin-top: 35px;
}

ul li {
    display: inline-block;
}

@font-face {
    font-family: 'BrandonText-Regular';
    src: url('font/BrandonText-Regular.otf');
}

ul li a {
    font-family: BrandonText-Regular;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #000000;
    padding: 5px 20px;
    border: 1.5px solid #000000;
    border-radius: 20px;
    transition: 0.3s;
    margin: 10px;

}

ul li a:hover {
    background-color: #A83A44;
    color: #FFFFFF;
    border: 1.5px solid #A83A44;
}

ul li.active a {
    background-color: #A83A44;
    color: #FFFFFF;
    border: 1.5px solid #A83A44;
}

.navbar {
    max-width: 100px;
    margin: auto;
}

.navbar ul {
    position: absolute;
    top: 8%;
    left: 7.5%;
}

@font-face {
    font-family: Halimun;
    src: url('font/Halimun.ttf');
}

.contents h2 {
    font-family: Halimun;
    font-size: 30px;
    color: #A83A44;
    position: absolute;
    top: 0%;
    left: 17.5%;
}

.contents p {
    position: absolute;
    top: 60%;
    left: 8%;
}